.table-section {
    flex-grow: 1;
    padding: 16px;
}

/* Style pour la section des actions (tri et filtre) */
.sort-filter-section {
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Style commun pour les dropdowns (tri et filtre) */
.sort-dropdown,
.filter-dropdown {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

/* Style pour les labels des dropdows (tri et filtre) */
.sort-dropdown label,
.filter-dropdown label {
    font-weight: 600;
    margin-right: 10px;
    color: #2c3e50;
    font-size: 14px;
    white-space: nowrap;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .sort-filter-section {
        flex-direction: column;
        align-items: stretch;
    }

    .sort-dropdown,
    .filter-dropdown {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    .sort-dropdown select,
    .filter-dropdown select {
        width: 100%;
    }
}

/* Style du tableau */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.task-row:hover,
.category-row:hover{
    background-color: #f9f9f9;
    cursor: pointer;
}

.task-details,
.category-details {
    padding: 12px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    margin-top: 8px;
}

.task-detail-row td,
.category-detail-row td {
    border: none;
    padding-top: 0;
}

/* Style condition etat ou urgence */

/* Tâche urgente (urgent == true) */
.task-row.urgent {
    color: red; /* Texte en rouge */
}

/* Tâche marquée comme réussie (etat == "Reussi") */
.task-row.done {
    text-decoration: line-through; /* Barrer le texte */
}

/* Optionnel : Ajout d'un style pour une tâche non urgente mais réussie */
.task-row.done.urgent {
    color: red; /* Si la tâche est urgente et réussie, rouge et barrée */
}
